/*
Colors used:
Primary Color (Blue): #2b3a86;
Secondary Color (Red): #8a0000;
Tertiary Color (Teal): #46979c;
Background Color (White): #fafbfc;
Text On Background Color (Black): #020123;
Text On Primary Color (Grey): #f7f8fc;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Rosario", sans-serif;
  background-color: #fafbfc;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #020123;
  display: block;
  margin: 164px 8px 0 8px; /* Spacing on top for header, 8px on each side, 0 on the bottom */
}

/* main {
  padding-top: 164px;
} */

header {
  background-color: #0c1248;
  padding: 10px;
  margin: auto;
  border-bottom: 3px solid #4a4a4a;
  /* display: flex;
  flex-direction: column; */
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/* base styles */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: purple;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: green;
  text-decoration: underline; /* Underlining when focusing or hovering over a link */
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2b3a86;
  color: #f7f8fc; /* needed to override the default link color */
  font-weight: 400;
  padding: 16px 8px;
  border-radius: 3px;
  border-bottom: 2px solid #0c1248; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: #2b3a86;
  color: #f7f8fc;
  text-transform: uppercase;
  border: 2px solid #2b3a86;
}

.button.contact:hover {
  background-color: #0c1248;
  color: #f7f8fc;
}

/* base styling end */

ul.a {
  width: 100%;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}

#hero img {
  max-width: 200px;
}

#myskills img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.hero
  .content1
  .content2
  .myskills
  .research
  .ideation
  .wireframe
  .design
  .prototype
  .conclusion
  .contact {
  width: auto;
  flex-wrap: wrap;
  align-content: space-around;
  margin: auto;
  border-radius: 16px;
  /* No spacing to top and bottom and auto spacing to left and right */
}

/* Base layout styling */

.container {
  padding: 8px;
  border: 8px solid rgb(4, 154, 129);
  margin: auto;
  margin-top: 10px;
  border-radius: 16px;
}

.row {
  display: inline-block;
  margin: 25px 0;
}

.footer {
  display: block;
  border: 0;
  padding: 0;
  margin: 0; /* No spacing to top and bottom and auto spacing to left and right */
  background-color: #0c1248;
  color: #fafbfc;
}

.blog {
  padding: 16px;
  float: left;
  background-color: #fafbfc;
  color: #0c1248;
}

#hero h1 h2 h3 h4 {
  text-align: center;
}

/* nav {
  display: flex;
  flex-wrap: wrap;
  width: auto;
} */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  list-style: none;
  justify-content: left;
}

#hero {
  background-color: #147082;
  text-align: center;
  color: #ccc;
  border-radius: 16px;
  padding: 16px;
}

#cv {
  text-align: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust as needed, e.g., space-around, space-evenly */
  height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.column {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 150px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.social-icons img,
.social-icons svg {
  max-width: 50px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0px;
}

.rounded-image {
  border-radius: 16px; /* Adjust the value to control the amount of rounding */
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* End Base Layout Styling */

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  body {
    font-size: 18px;
    border-radius: 16px;
  }

  header {
    text-align: unset;
    padding: 16px 0 12px;
    display: grid;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    margin-right: auto;
  }

  #hero span {
    display: block;
  }

  .col-md-8 {
    width: 60%;
  }

  .col-md-4 {
    width: 40%;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: flex;
    flex-direction: column;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.maxWidth-1440 {
  max-width: 1440px;
  margin: auto;
}

.maxWidth-700 {
  max-width: 700px;
  margin: auto;
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
