/*
Colors used:
Primary Color (Blue): #2b3a86;
Secondary Color (Red): #8a0000;
Tertiary Color (Teal): #46979c;
Background Color (White): #fafbfc;
Text On Background Color (Black): #020123;
Text On Primary Color (Grey): #f7f8fc;
*/

* {
  box-sizing: border-box;
}

main {
  padding-top: 400px;
}

body {
  font-family: "Rosario", sans-serif;
  background-color: #fafbfc;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #020123;
  display: block;
  max-width: 1440px;
  margin: 0 8px 0 8px; /* No spacing to top and bottom and auto spacing to left and right */
  padding-top: 250px;
}

/* 
  width: 50em;
  margin-left: auto;
  margin-right: auto;
old code cut from body, delete this if not useful */

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: purple;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: white;
}

a:hover,
a:focus {
  color: green;
  text-decoration: underline; /* Underlining when focusing or hovering over a link */
}

a:active {
  /* selected link */
  color: #0c1248;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2b3a86;
  color: #f7f8fc; /* needed to override the default link color */
  font-weight: 400;
  padding: 16px 8px;
  border-radius: 3px;
  border-bottom: 2px solid #0c1248; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: #2b3a86;
  color: #f7f8fc;
  text-transform: uppercase;
  border: 2px solid #2b3a86;
}

.button.contact:hover {
  background-color: #0c1248;
  color: #f7f8fc;
}

div {
  width: auto;
  border: 1px solid #c3c3c3;
  flex-wrap: wrap;
  align-content: space-around;
  margin: auto;
  padding: 8px;
}

img {
  max-width: 500px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  align-self: center;
  margin: auto;
}

ul.a {
  width: 100%;
  border: 1px solid #c3c3c3;
  display: inline;
  flex-wrap: nowrap;
  align-content: center;
  margin: auto;
}

header {
  background-color: #0c1248;
  display: inline;
  padding: 10px;
  margin: 0;
  border-bottom: 3px solid #4a4a4a;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.hero
  .content1
  .content2
  .myskills
  .research
  .ideation
  .wireframe
  .design
  .prototype
  .conclusion
  .contact {
  /* display: block;
  border: 1px solid black;
  padding: 4px 4px 4px 4px;
  background: #fafbfc no-repeat fixed center;
  margin: 4px 4px 4px 4px; */

  width: auto;
  flex-wrap: wrap;
  align-content: space-around;
  margin: auto;
  /* No spacing to top and bottom and auto spacing to left and right */
}

/* Layout styling */

.container {
  padding: 8px;
  border: 8px solid rgb(4, 154, 129);
  margin: auto;
}

.blog {
  padding: 16px;
  float: left;
  background-color: #fafbfc;
  color: #0c1248;
}

.row {
  display: flex;
  margin: 25px 0;
}

.footer {
  display: block;
  border: 0;
  padding: 0;
  margin: 0; /* No spacing to top and bottom and auto spacing to left and right */
  background-color: #0c1248;
  color: #fafbfc;
}

#hero h1 h2 h3 h4 {
  text-align: center;
}

nav {
  display: inline-block;
  width: auto;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #147082;
  text-align: center;
  color: #ccc;
}

#cv {
  text-align: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust as needed, e.g., space-around, space-evenly */
  height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 150px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
